<header id="main-header" class="header-one">
  <!-- menu start -->
  <nav id="menu-1" class="mega-menu" data-color="">
    <!-- menu list items container -->
    <div class="menu-list-items">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <!-- menu logo -->
            <ul class="menu-logo">
              <li>
                <a href="index.html"><img src="../../assets/images/logo.png" alt="logo" class="img-fluid"></a>
              </li>
            </ul>
            <!-- menu search bar -->
            <ul class="menu-search-bar">
              <li>
                <form method="post" action="#">
                  <label>
                    <input name="menu_search_bar" placeholder="Search" type="search">
                    <i class="fas fa-search"></i>
                  </label>
                </form>
              </li>
              <li class="menu-contact iq-fw-5"><a href="tel:0123456789" ><i class="fas fa-phone pr-1 "></i> 0 123 456 789</a></li>
            </ul>
            <!-- menu links -->
            <ul class="menu-links">
              <!-- active class -->
              <li>
                <a href="javascript:void(0)" class="active">Home</a>
                <!-- drop down multilevel  -->
                <ul class="drop-down-multilevel">
                  <li class="active"><a href="index.html">Home 1</a></li>
                  <li><a href="#">Home 5 <span class="badge badge-danger">Soon</span></a></li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0)">Blog</a>
                <!-- drop down third level -->
                <ul class="drop-down-multilevel">
                  <li>
                    <a href="javascript:void(0)"> Blog Details <i class="fas fa-angle-right "></i></a>
                    <!-- drop down third level -->
                    <ul class="drop-down-multilevel">
                      <li><a href="blog-details-left-sidebar.html">Blog Detail Left Sidebar</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- menu end -->
</header>
