<div class="iq-video overview-block-pb position-relative">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="position-relative">
          <img  src="../../assets/images/video/2.png" class="img-fluid w-100" alt="">
          <div class="waves-box">
            <a href="https://www.youtube.com/watch?v=0O2aH4XLbto" class="video-play  popup-youtube" ><i class="fas fa-play"></i></a>
            <div class="iq-waves">
              <div class="waves wave-1"></div>
              <div class="waves wave-2"></div>
              <div class="waves wave-3"></div>
            </div>
          </div>
          <!-- Animation People Coming To Video -->
          <div class="video-people">
            <div class="scrollme">
              <img src="../../assets/images/video/1.png" class="img-fluid one animateme"
                   data-when="span"
                   data-from="1"
                   data-to="0"
                   data-translatex="-300" alt="image">
            </div>
            <div class="scrollme">
              <img src="../../assets/images/video/3.png" class="img-fluid two animateme"
                   data-when="span"
                   data-from="1"
                   data-to="0"
                   data-translatex="300" alt="image">
            </div>
          </div>
          <!-- Animation People Coming To Video End -->
        </div>
      </div>
    </div>
  </div>
</div>
