<div class="main-content">
  <app-banner></app-banner>
  <!-- Works -->
  <app-how-it-works></app-how-it-works>
  <!-- Works END -->
  <!-- video -->
  <app-video></app-video>
  <!-- end video -->
  <!-- project done -->
  <app-projects-done id="projects"></app-projects-done>
  <!-- projects done end -->
  <!-- Our Clients -->
  <app-clients></app-clients>
  <!-- Our Clients END -->
  <!-- Pricing -->
  <app-pricing id="pricing"></app-pricing>
  <!-- Pricing END -->
  <!-- our team -->
  <app-team></app-team>
  <!-- our team end -->
</div>
