<div class="main-content">
  <!-- Works -->
  <section class="iq-works main-bg position-relative">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="section-title">
            <p class="mt-2 text-uppercase text-white iq-fw-3 iq-ls-3">it's perfect way</p>
            <h2 class="title text-white  iq-fw-8">How Does Markethon Works</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 text-center">
          <div class="iq-workinfo">
            <div class="service-shap  mb-4 iq-rmt-40">
              <img src="../../assets/images/work/01.png" class="img-fluid " alt="">
            </div>
            <h3 class="title text-white">1. Planning</h3>
            <span class="mb-0 text-uppercase text-white iq-fw-3 iq-ls-1">make you different</span>
          </div>
        </div>
        <div class="col-lg-4 text-center">
          <div class="iq-workinfo">
            <div class="service-shap  mb-4 iq-rmt-40">
              <img src="../../assets/images/work/02.png" class="img-fluid " alt="">
            </div>
            <h3 class="title text-white">2. Development</h3>
            <span class="mb-0 text-uppercase text-white iq-fw-3 iq-ls-1">make you different</span>
          </div>
        </div>
        <div class="col-lg-4 text-center">
          <div class="iq-workinfo">
            <div class="service-shap  mb-4 iq-rmt-40">
              <img src="../../assets/images/work/03.png" class="img-fluid " alt="">
            </div>
            <h3 class="title text-white">3. Launching</h3>
            <span class="mb-0 text-uppercase text-white iq-fw-3 iq-ls-1">make you different</span>
          </div>
        </div>
      </div>
    </div>
    <div class="iq-way">
      <img src="../../assets/images/work/2.png" class="img-fluid"  alt="image">
    </div>
  </section>
  <!-- Works END -->
  <app-video></app-video>
  <!-- Project  -->
  <section class="iq-project position-relative pt-0">
    <div class="scrollme">
      <img src="../../assets/images/others/13.png" class="img-fluid project-overlay-left animateme"
           data-when="enter"
           data-from="0.5"
           data-to="0"
           data-translatey="100" alt="image">
    </div>
    <div class="container">
      <div class="row mb-3 align-items-center">
        <div class="col-lg-6 ">
          <h2  class="display-2  iq-fw-9 d-inline-block title"><span class="counter">1520</span> <sup class=" d-inline-block">+</sup></h2>
          <h3 class="d-inline-block  iq-fw-8">Project Done.</h3>
        </div>
        <div class="col-lg-6 ">
          <a class="slide-button button float-right explore-btn" href="portfolio.html">
            <div class="first">Explore All</div>
            <div class="second">Explore All</div>
          </a>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div id="portfolio-carousel" class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="false" data-items="4" data-items-laptop="3" data-items-tab="3" data-items-mobile="1" data-items-mobile-sm="1" data-margin="30">
            <div class="item">
              <div class="iq-portfolio">
                <img src="../../assets/images/project/1.png" class="img-fluid" alt="image">
                <div class="portfolio-info">
                  <a href="#"><span class="text-black">Design Concept</span></a>
                  <a href="#" class="text-uppercase text-gray float-right">Design</a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="iq-portfolio">
                <img src="../../assets/images/project/2.png" class="img-fluid" alt="image">
                <div class="portfolio-info">
                  <a href="#"><span class="text-black">Design Concept</span></a>
                  <a href="#" class="text-uppercase text-gray float-right">Design</a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="iq-portfolio">
                <img src="../../assets/images/project/3.png" class="img-fluid" alt="image">
                <div class="portfolio-info">
                  <a href="#"><span class="text-black">Design Concept</span></a>
                  <a href="#" class="text-uppercase text-gray float-right">Design</a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="iq-portfolio">
                <img src="../../assets/images/project/4.png" class="img-fluid" alt="image">
                <div class="portfolio-info">
                  <a href="#"><span class="text-black">Design Concept</span></a>
                  <a href="#" class="text-uppercase text-gray float-right">Design</a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="iq-portfolio">
                <img src="../../assets/images/project/1.png" class="img-fluid" alt="image">
                <div class="portfolio-info">
                  <a href="#"><span class="text-black">Design Concept</span></a>
                  <a href="#" class="text-uppercase text-gray float-right">Design</a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="iq-portfolio">
                <img src="../../assets/images/project/2.png" class="img-fluid" alt="image">
                <div class="portfolio-info">
                  <a href="#"><span class="text-black">Design Concept</span></a>
                  <a href="#" class="text-uppercase text-gray float-right">Design</a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="iq-portfolio">
                <img src="../../assets/images/project/3.png" class="img-fluid" alt="image">
                <div class="portfolio-info">
                  <a href="#"><span class="text-black">Design Concept</span></a>
                  <a href="#" class="text-uppercase text-gray float-right">Design</a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="iq-portfolio">
                <img src="../../assets/images/project/4.png" class="img-fluid" alt="image">
                <div class="portfolio-info">
                  <a href="#"><span class="text-black">Design Concept</span></a>
                  <a href="#" class="text-uppercase text-gray float-right">Design</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Project END -->
  <!-- Our Clients -->
  <app-clients></app-clients>
  <!-- Our Clients END -->
  <!-- Pricing -->
  <section class="iq-pricing-table pt-0 iq-rmt-40">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="section-title">
            <p class="mb-0 text-uppercase iq-fw-5 iq-ls-2">Our Pricing</p>
            <h2 class="title iq-fw-8">Our Popular Pricing Plans</h2>
          </div>
        </div>
      </div>
      <div class="row  text-center">
        <div class="col-sm-12">
          <ul class="nav nav-pills iq-mt-40" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="monthly-tab" data-toggle="pill" href="#monthly" role="tab" aria-controls="monthly" aria-selected="true">Monthly</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="yearly-tab" data-toggle="pill" href="#yearly" role="tab" aria-controls="yearly" aria-selected="false">Yearly</a>
            </li>
          </ul>
          <div class="tab-content iq-mt-80" id="pills-tabContent">
            <div class="tab-pane fade show active" id="monthly" role="tabpanel" aria-labelledby="monthly-tab">
              <div class="row pricing1 text-center">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="iq-pricing  white-bg">
                    <div class="pricing-header mb-5">
                      <h6 class="iq-fw-6 mb-2">Start Up</h6>
                      <h3 class="iq-fw-8">$19.99</h3>
                    </div>
                    <ul class="">
                      <li class="mb-2"><i class="fa fa-check-circle text-green mr-2"></i>Email Marketing</li>
                      <li class="mb-2"><i class="fas fa-times-circle main-color mr-2"></i>Content Marketing</li>
                      <li class="mb-2"><i class="fa fa-check-circle  text-green mr-2"></i>Voice Optimize</li>
                      <li class="mb-2"><i class="fas fa-times-circle main-color mr-2"></i>SEO Consulting</li>
                      <li class="mb-2"><i class="fas fa-times-circle main-color mr-2"></i>Video Marketing</li>
                      <li class="mb-2"><i class="fa fa-check-circle text-green mr-2"></i>Advertising</li>
                    </ul>
                    <a class="slide-button button mt-5" href="pricing.html">
                      <div class="first">Purchase</div>
                      <div class="second">Purchase</div>
                    </a>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="iq-pricing  active white-bg">
                    <div class="pricing-header mb-5">
                      <h6 class="iq-fw-6 mb-2">Professional</h6>
                      <h3 class="iq-fw-8">$29.99</h3>
                    </div>
                    <ul class="">
                      <li class="mb-2"><i class="fa fa-check-circle text-green mr-2"></i>Email Marketing</li>
                      <li class="mb-2"><i class="fa fa-check-circle text-green mr-2"></i>Content Marketing</li>
                      <li class="mb-2"><i class="fa fa-check-circle text-green mr-2"></i>Voice Optimize</li>
                      <li class="mb-2"><i class="fas fa-times-circle main-color mr-2"></i>SEO Consulting</li>
                      <li class="mb-2"><i class="fas fa-times-circle main-color mr-2"></i>Video Marketing</li>
                      <li class="mb-2"><i class="fa fa-check-circle text-green mr-2"></i>Advertising</li>
                    </ul>
                    <a class="slide-button button mt-5" href="pricing.html">
                      <div class="first">Purchase</div>
                      <div class="second">Purchase</div>
                    </a>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="iq-pricing  white-bg">
                    <div class="pricing-header mb-5">
                      <h6 class="iq-fw-6 mb-2">Advanced</h6>
                      <h3 class="iq-fw-8">$45.99</h3>
                    </div>
                    <ul class="">
                      <li class="mb-2"><i class="fa fa-check-circle text-green mr-2"></i>Email Marketing</li>
                      <li class="mb-2"><i class="fa fa-check-circle text-green mr-2"></i>Content Marketing</li>
                      <li class="mb-2"><i class="fa fa-check-circle  text-green mr-2"></i>Voice Optimize</li>
                      <li class="mb-2"><i class="fa fa-check-circle  text-green mr-2"></i>SEO Consulting</li>
                      <li class="mb-2"><i class="fa fa-check-circle  text-green mr-2"></i>Video Marketing</li>
                      <li class="mb-2"><i class="fa fa-check-circle  text-green mr-2"></i>Advertising</li>
                    </ul>
                    <a class="slide-button button mt-5" href="pricing.html">
                      <div class="first">Purchase</div>
                      <div class="second">Purchase</div>
                    </a>
                  </div>
                </div>

              </div>
            </div>
            <div class="tab-pane fade" id="yearly" role="tabpanel" aria-labelledby="yearly-tab">
              <div class="row pricing1 text-center">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="iq-pricing  white-bg">
                    <div class="pricing-header mb-5">
                      <h6 class="iq-fw-6 mb-2">Start Up</h6>
                      <h3 class="iq-fw-8">$9.99</h3>
                    </div>
                    <ul class="">
                      <li class="mb-2"><i class="fa fa-check-circle text-green mr-2"></i>Email Marketing</li>
                      <li class="mb-2"><i class="fas fa-times-circle main-color mr-2"></i>Content Marketing</li>
                      <li class="mb-2"><i class="fa fa-check-circle  text-green mr-2"></i>Voice Optimize</li>
                      <li class="mb-2"><i class="fas fa-times-circle main-color mr-2"></i>SEO Consulting</li>
                      <li class="mb-2"><i class="fas fa-times-circle main-color mr-2"></i>Video Marketing</li>
                      <li class="mb-2"><i class="fa fa-check-circle text-green mr-2"></i>Advertising</li>
                    </ul>
                    <a class="slide-button button mt-5" href="pricing.html">
                      <div class="first">Purchase</div>
                      <div class="second">Purchase</div>
                    </a>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="iq-pricing  active white-bg">
                    <div class="pricing-header mb-5">
                      <h6 class="iq-fw-6 mb-2">Professional</h6>
                      <h3 class="iq-fw-8">$29.99</h3>
                    </div>
                    <ul class="">
                      <li class="mb-2"><i class="fa fa-check-circle text-green mr-2"></i>Email Marketing</li>
                      <li class="mb-2"><i class="fa fa-check-circle text-green mr-2"></i>Content Marketing</li>
                      <li class="mb-2"><i class="fa fa-check-circle text-green mr-2"></i>Voice Optimize</li>
                      <li class="mb-2"><i class="fas fa-times-circle main-color mr-2"></i>SEO Consulting</li>
                      <li class="mb-2"><i class="fas fa-times-circle main-color mr-2"></i>Video Marketing</li>
                      <li class="mb-2"><i class="fa fa-check-circle text-green mr-2"></i>Advertising</li>
                    </ul>
                    <a class="slide-button button mt-5" href="pricing.html">
                      <div class="first">Purchase</div>
                      <div class="second">Purchase</div>
                    </a>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="iq-pricing  white-bg">
                    <div class="pricing-header mb-5">
                      <h6 class="iq-fw-6 mb-2">Advanced</h6>
                      <h3 class="iq-fw-8">$49.99</h3>
                    </div>
                    <ul class="">
                      <li class="mb-2"><i class="fa fa-check-circle text-green mr-2"></i>Email Marketing</li>
                      <li class="mb-2"><i class="fa fa-check-circle text-green mr-2"></i>Content Marketing</li>
                      <li class="mb-2"><i class="fa fa-check-circle  text-green mr-2"></i>Voice Optimize</li>
                      <li class="mb-2"><i class="fa fa-check-circle  text-green mr-2"></i>SEO Consulting</li>
                      <li class="mb-2"><i class="fa fa-check-circle  text-green mr-2"></i>Video Marketing</li>
                      <li class="mb-2"><i class="fa fa-check-circle  text-green mr-2"></i>Advertising</li>
                    </ul>
                    <a class="slide-button button mt-5" href="pricing.html">
                      <div class="first">Purchase</div>
                      <div class="second">Purchase</div>
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Pricing END -->
  <!-- Our Blog -->
  <!-- Our Blog END -->

</div>
