<!-- Works -->
<section class="iq-works main-bg position-relative">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="section-title">
          <p class="mt-2 text-uppercase text-white iq-fw-3 iq-ls-3">it's perfect way</p>
          <h2 class="title text-white  iq-fw-8">How Does Markethon Works</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 text-center">
        <div class="iq-workinfo">
          <div class="service-shap  mb-4 iq-rmt-40">
            <img src="../../assets/images/work/01.png" class="img-fluid " alt="">
          </div>
          <h3 class="title text-white">1. Planning</h3>
          <span class="mb-0 text-uppercase text-white iq-fw-3 iq-ls-1">make you different</span>
        </div>
      </div>
      <div class="col-lg-4 text-center">
        <div class="iq-workinfo">
          <div class="service-shap  mb-4 iq-rmt-40">
            <img src="../../assets/images/work/02.png" class="img-fluid " alt="">
          </div>
          <h3 class="title text-white">2. Development</h3>
          <span class="mb-0 text-uppercase text-white iq-fw-3 iq-ls-1">make you different</span>
        </div>
      </div>
      <div class="col-lg-4 text-center">
        <div class="iq-workinfo">
          <div class="service-shap  mb-4 iq-rmt-40">
            <img src="../../assets/images/work/03.png" class="img-fluid " alt="">
          </div>
          <h3 class="title text-white">3. Launching</h3>
          <span class="mb-0 text-uppercase text-white iq-fw-3 iq-ls-1">make you different</span>
        </div>
      </div>
    </div>
  </div>
  <div class="iq-way">
    <img src="../../assets/images/work/2.png" class="img-fluid"  alt="image">
  </div>
</section>
<!-- Works END -->
