<div class="iq-grid-item creative">
  <div class="iq-portfolio">
    <img src="../../../assets/images/project/1.png" class="img-fluid" alt="image">
    <div class="waves-box">
      <a href="https://www.youtube.com/watch?v=0O2aH4XLbto" class="video-play  popup-youtube" ><i class="fas fa-play"></i></a>
      <div class="iq-waves">
        <div class="waves wave-1"></div>
        <div class="waves wave-2"></div>
        <div class="waves wave-3"></div>
      </div>
    </div>
    <div class="portfolio-info">
      <a href="#"><span class="text-black">Design Concept</span></a>
      <a href="#" class="text-uppercase text-gray float-right">Design</a>
    </div>
  </div>
</div>
