<section class="iq-pricing-table pt-0 iq-rmt-40">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="section-title">
          <p class="mb-0 text-uppercase iq-fw-5 iq-ls-2">Our Pricing</p>
          <h2 class="title iq-fw-8">Our Popular Pricing Plans</h2>
        </div>
      </div>
    </div>
    <div class="row  text-center">
      <div class="col-sm-12">
        <div class="tab-content iq-mt-80" id="pills-tabContent">
          <div class="tab-pane fade show active" id="monthly" role="tabpanel" aria-labelledby="monthly-tab">
            <div class="row pricing1 text-center">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="iq-pricing  white-bg">
                  <div class="pricing-header mb-5">
                    <h6 class="iq-fw-6 mb-2">Basic</h6>
                    <h3 class="iq-fw-8">$24.99</h3>
                  </div>
                  <ul class="">
                    <li class="mb-2"><i class="fa fa-check-circle text-green mr-2"></i>One Video</li>
                    <li class="mb-2"><i class="fas fa-times-circle main-color mr-2"></i>One Scroll Stopper</li>
                    <li class="mb-2"><i class="fa fa-check-circle  text-green mr-2"></i>One Thumbnail</li>
                    <li class="mb-2"><i class="fas fa-times-circle main-color mr-2"></i>Extra Scroll Stoppers</li>
                    <li class="mb-2"><i class="fas fa-times-circle main-color mr-2"></i>Unlimited Revisions</li>
                    <li class="mb-2"><i class="fa fa-check-circle text-green mr-2"></i>Script Editing</li>
                  </ul>
                  <a class="slide-button button mt-5" href="pricing.html">
                    <div class="first">Purchase</div>
                    <div class="second">Purchase</div>
                  </a>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="iq-pricing  active white-bg">
                  <div class="pricing-header mb-5">
                    <h6 class="iq-fw-6 mb-2">Standard</h6>
                    <h3 class="iq-fw-8">$29.99</h3>
                  </div>
                  <ul class="">
                    <li class="mb-2"><i class="fa fa-check-circle text-green mr-2"></i>One Video</li>
                    <li class="mb-2"><i class="fa fa-check-circle text-green mr-2"></i>One Scroll Stopper</li>
                    <li class="mb-2"><i class="fa fa-check-circle text-green mr-2"></i>One Thumbnail</li>
                    <li class="mb-2"><i class="fas fa-times-circle main-color mr-2"></i>Extra Scroll Stoppers</li>
                    <li class="mb-2"><i class="fas fa-times-circle main-color mr-2"></i>Unlimited Revisions</li>
                    <li class="mb-2"><i class="fa fa-check-circle text-green mr-2"></i>Script Editing</li>
                  </ul>
                  <a class="slide-button button mt-5" href="pricing.html">
                    <div class="first">Purchase</div>
                    <div class="second">Purchase</div>
                  </a>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="iq-pricing  white-bg">
                  <div class="pricing-header mb-5">
                    <h6 class="iq-fw-6 mb-2">Premium</h6>
                    <h3 class="iq-fw-8">$44.99</h3>
                  </div>
                  <ul class="">
                    <li class="mb-2"><i class="fa fa-check-circle text-green mr-2"></i>One Video</li>
                    <li class="mb-2"><i class="fa fa-check-circle text-green mr-2"></i>One Scroll Stopper</li>
                    <li class="mb-2"><i class="fa fa-check-circle  text-green mr-2"></i>One Thumbnail</li>
                    <li class="mb-2"><i class="fa fa-check-circle  text-green mr-2"></i>2 Extra Scroll Stoppers</li>
                    <li class="mb-2"><i class="fa fa-check-circle  text-green mr-2"></i>Unlimited Revisions</li>
                    <li class="mb-2"><i class="fa fa-check-circle  text-green mr-2"></i>Script Editing</li>
                  </ul>
                  <a class="slide-button button mt-5" href="pricing.html">
                    <div class="first">Purchase</div>
                    <div class="second">Purchase</div>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
