<!-- Team section -->
<section class="iq-bestteam main-bg position-relative pt-0">
  <div class="container">
    <!-- Little Header Meet The Team / Our Best Team -->
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="section-title">
          <p class="mt-5 text-uppercase text-white iq-fw-3 iq-ls-3">Meet the team</p>
          <h2 class="title  text-white iq-fw-8">Our Best Team</h2>
        </div>
      </div>
    </div>
    <!-- Little Header Meet The Team / Our Best Team End -->
    <!-- Team Members -->
    <div class="row">
      <div class="col-sm-6" *ngFor="let teamMember of team" >
        <app-team-member [teamMember]="teamMember"></app-team-member>
      </div>
    </div>
    <!-- Team Members End -->
  </div>
</section>
<!-- Team END -->
