<!-- Team section -->
<section class="iq-bestteam main-bg position-relative pt-0">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="section-title">
          <p class="mt-5 text-uppercase text-white iq-fw-3 iq-ls-3">Meet the team</p>
          <h2 class="title  text-white iq-fw-8">Our Best Team</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="team-box">
          <div class="team-img text-center"> <img src="../../assets/images/team/01.jpg" class="img-fluid rounded-circle" alt="image"> </div>
          <div class="team-detail">
            <a class="team-plus" href="#"><i class="fas fa-plus"></i></a>
            <div class="team-info">
              <h6 class="mb-0 text-white "><a href="#">Marie Mart</a></h6>
              <span class="mb-0 text-white text-gray iq-fw-4">Web Designer</span>
            </div>
          </div>
          <div class="team-hover">
            <p>Progravida nibh vel velit auctor alinean sollicitudin nisi elit consequat ipsum.</p>
            <ul class="list-inline">
              <li class="list-inline-item" ><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item" ><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item" ><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              <li class="list-inline-item" ><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team-box">
          <div class="team-img text-center"> <img src="../../assets/images/team/02.jpg" class="img-fluid rounded-circle" alt="image"> </div>
          <div class="team-detail">
            <a class="team-plus" href="#"><i class="fas fa-plus"></i></a>
            <div class="team-info">
              <h6 class="mb-0 text-white"><a href="#">Kips Leo</a></h6>
              <span class="mb-0 text-white text-gray iq-fw-4">Web Designer</span>
            </div>
          </div>
          <div class="team-hover">
            <p>Progravida nibh vel velit auctor alinean sollicitudin nisi elit consequat ipsum.</p>
            <ul class="list-inline">
              <li class="list-inline-item" ><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item" ><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item" ><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              <li class="list-inline-item" ><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team-box">
          <div class="team-img text-center"> <img src="../../assets/images/team/03.jpg" class="img-fluid rounded-circle" alt="image"> </div>
          <div class="team-detail">
            <a class="team-plus" href="#"><i class="fas fa-plus"></i></a>
            <div class="team-info">
              <h6 class="mb-0 text-white"><a href="#">Glen Jax</a></h6>
              <span class="mb-0 text-white text-gray iq-fw-4">Web Designer</span>
            </div>
          </div>
          <div class="team-hover">
            <p>Progravida nibh vel velit auctor alinean sollicitudin nisi elit consequat ipsum.</p>
            <ul class="list-inline">
              <li class="list-inline-item" ><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item" ><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item" ><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              <li class="list-inline-item" ><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team-box">
          <div class="team-img text-center"> <img src="../../assets/images/team/04.jpg" class="img-fluid rounded-circle" alt="image"> </div>
          <div class="team-detail">
            <a class="team-plus" href="#"><i class="fas fa-plus"></i></a>
            <div class="team-info">
              <h6 class="mb-0 text-white"><a href="#">Nik Jorden</a></h6>
              <span class="mb-0 text-white text-gray iq-fw-4">Web Designer</span>
            </div>
          </div>
          <div class="team-hover">
            <p>Progravida nibh vel velit auctor alinean sollicitudin nisi elit consequat ipsum.</p>
            <ul class="list-inline">
              <li class="list-inline-item" ><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item" ><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item" ><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              <li class="list-inline-item" ><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team END -->
